.container {
    width:100%;
    border:1px solid var(--global-border-color);
}
.container div {
    width:100%;
}
.container .header {
    background-color: var(--global-background-color-alt);
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}